In [5]:
ages = [19,22,19,24,20,25,26,24,25,24]
ages.sort() #sorting the list
sum=0
print(ages)
print(min(ages))
print(max(ages))
n=len(ages) #length of the list ages
print("Length=",n)
if n%2==0:
    median1=ages[n//2-1]
    median2=ages[n//2]
    median = (median1+median2)/2 #formula for finding median
else:
    median = ages[n//2]
print("median is: "+ str(median))
for i in range(len(ages)):
    sum = sum + ages[i]
average=sum/n
print("Average=",average)
print(max(ages) - min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
Length= 10
median is: 24.0
Average= 22.8
7

In [7]:
dog = {} #creating an empty dictionary named dog
print (dog) #printing the dictionary

dog = {}  # creating an empty dictionary named dog
dog = {'Name': 'Mittu', 'Color': 'Black', 'Breed': 'puppy', 'Legs': '4',
       'Age': '4'}  # Adding Name,Color,Breed,Legs,Age to the dictionary
print(dog)  # printing the dictionary

student = {'first_name':'Srikanth', 'last_name':'Narina', 'gender':'Male', 'age':'25', 'marital status':'Single','skills':'Reading', 'country':'India', 'city':'Hyderabad', 'address':'KPHB'}
print (student) #printing the student dictionary
print(len(student)) #finding the length of the student dictionary using len function
print(student['skills']) #Getting the value of skills
print(type(student['skills'])) #checking the data type of skills
student['skills']='cycling','music' #updating the skills
print(student)
keys = print(student.keys()) #getting the dictionary keys as list
values = print(student.values()) #getting the dictionary values as list

{}
{'Name': 'Mittu', 'Color': 'Black', 'Breed': 'puppy', 'Legs': '4', 'Age': '4'}
{'first_name': 'Srikanth', 'last_name': 'Narina', 'gender': 'Male', 'age': '25', 'marital status': 'Single', 'skills': 'Reading', 'country': 'India', 'city': 'Hyderabad', 'address': 'KPHB'}
9
Reading
<class 'str'>
{'first_name': 'Srikanth', 'last_name': 'Narina', 'gender': 'Male', 'age': '25', 'marital status': 'Single', 'skills': ('cycling', 'music'), 'country': 'India', 'city': 'Hyderabad', 'address': 'KPHB'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Srikanth', 'Narina', 'Male', '25', 'Single', ('cycling', 'music'), 'India', 'Hyderabad', 'KPHB'])

In [8]:
brothers = ('raja','aditya') #creating a tuple with name brothers
sisters = ('hari','satvi') #creating a tuple with name sisters
siblings = (brothers + sisters) #joining both the tuples
print(len(siblings)) #finding the lenght of the siblings
fammembers = list(siblings) #converting siblings tuple to list
fammembers[2] = 'srinu' #adding father name to tuple
fammembers[3] = 'sarada' #adding mother name to tuple
family_members = tuple(fammembers) #converting fammembers list to tuple and assigning it to family_members
print(family_members)

4
('raja', 'aditya', 'srinu', 'sarada')

In [9]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies)) #finding the length of the set
it_companies.add('Twitter') #adding Twitter to the it_companies set
it_companies.update(['TCS','Verizon','At&t']) #adding multiple companies to the set at once
it_companies.remove('Oracle') #removing a company from the set
print(A.union(B)) #joining A and B and printing the result
print(A.intersection(B)) #finging A intersection B
print(A.issubset(B)) #finding if A is subset of B
print(A.isdisjoint(B)) #finding if A and B are disjoint
print(A.union(B)) #joining A with B
print(B.union(A)) #joining B with A
print(A.symmetric_difference(B)) #symmetric difference between A and B
del A #deleting the set A
del B #deleting the set B
ages=set(age) #converting age to set
print(len(ages)<=len(age)) #comparing the length of set and list

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
True

In [10]:

radius = 30 #Initiating the radius as 30
_area_of_circle = 3.14 * radius ** 2 #calculating the area of the circle using area formula
print(_area_of_circle) #printing the area of the circle
circum_of_circle = 2 * 3.14 * radius #calculating the circumference of the circle using formula
print(circum_of_circle) #printing the circumference of the circle
val = int(input('Enter the radius of the circle')) #Taking user input
areaofthecircle = 3.14 * val ** 2 #calculating the area of the circle
print(areaofthecircle) #printing the area of the circle

2826.0
188.4
Enter the radius of the circle7
153.86

In [11]:
sentence = "I am a teacher and I love to inspire and teach people"
newtext = sentence.split(" ") #using split method to get the unique words
print(len(set(newtext))) #printing number of unique methods

10

In [12]:
print('Name\tAge\tCountry\tCity') #printing words with tab escape sequence
print('Asabeneh\t250\tFinland\tHelsinki') #printing words with tab escape sequence

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [13]:
radius = 10 #Initiating the radius
area_of_circle = 3.14 * radius ** 2 #calculating the area of the circle using area formula
print('The area of a circle with radius',radius,'is',int(area_of_circle),'meters square.')

The area of a circle with radius 10 is 314 meters square.

In [14]:
A=[] #creating an empty list to store the weights of students in kgs
B=[] #creating an empty list to store the weights of students in lbs
lbs = 0.453592 #initializing the lbs value
N=int(input('enter the number of students')) #take the input from the user
for i in range(N): #looping through the list of students
    A.append(int(input('enter the weight of the each student'))) #appending the weights to the list
for i in range(N):
    B.append(round(lbs*A[i],2)) #converting the weights to list and appending to list B
print(B) #printing the list B

enter the number of students2
enter the weight of the each student75
enter the weight of the each student85
[34.02, 38.56]